<div class="container" style="text-align:center">
  <div class="jumbotron">
    <h3>
      Welcome to el chat del Jimbo >>:v! {{registered !== false ? username : ''}}
    </h3>
    <div *ngIf="registered">
      <hr class="my-4">
      <div style="text-align:left">
        <h4>Usuarios conectados</h4>
        <div>
          <p class="lead" *ngFor="let u of users">{{u}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!registered" style="text-align:center">
  <input [(ngModel)]="username"  (keyup.enter)="register()">
  <button (click)="register()" type="button" class="btn btn-primary">Ingresar</button>
</div>
<div *ngIf="registered" class="widder">
  <h4 *ngIf="userTyping" style="text-align:center">User typing {{userTyping}}</h4>
  <div *ngFor="let c of conversations">
    <h4 style="text-align:right; padding: 5px; margin-right: 50px; border-bottom: 1px solid #000;">{{c.message}} - {{c.userId}}</h4>
  </div>
  <div style="text-align:center">
      <input [ngModel]="message" (ngModelChange)="typing($event)" (keyup.enter)="sendMessage()"/>
      <button (click)="sendMessage()" type="button" class="btn btn-light">Enviar</button>
  </div>
</div>